@import "tailwindcss";
@keyframes custom-ping {
  75%, 100% {
    transform: scale(1.4);
    opacity: 10;
  }
}

body{
  background-color: #070707;
  overflow-x: hidden;
}

.hover\:animate-custom-ping:hover {
  animation: custom-ping 3s cubic-bezier(0, 0, 0.1, 1) infinite;
}


@keyframes fade-down {
  0%{
    opacity: 0;
   transform: translate(-10px) scale(0.6);
  }
  100%{
    opacity: 1;
    transform: translate(0px) scale(1)
  }
  
}

.Design{
  animation: fade-down 3s;
}


@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.text{  
  animation: slideIn 3s ease forwards;
}





@keyframes slideIn2 {
  0%{
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.text2{
  animation: slideIn2 3s  forwards;
}





@keyframes kasney {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.whiteBox{
  animation: kasney 3s  forwards;
}