@import "tailwindcss";
@keyframes custom-ping {
  75%, 100% {
    transform: scale(1.4);
    opacity: 10;
  }
}

.hover\:animate-custom-ping:hover {
  animation: custom-ping 3s cubic-bezier(0, 0, 0.1, 1) infinite;
}




